{
  "presets": [["env", {
    "targets": {
      "chrome": 55,
      "uglify": true
    },
    "useBuiltIns": true,
    "modules": false
  }]],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-class"
  ]
}